.Row {
  // max-width: $grid-width;
  background-color: $color-white;
  margin: 0 auto;
  background-color: red;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  .col-1-of-2 {
    width: calc((100%-#{$gutter-horizontal}) / 2);
    background-color: orange;
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }
}
