@mixin rowcolm {
  .Row-col {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    height: 33rem;
    padding: 2.5rem;
    margin: 15rem 0rem;
    background-color: #ffffffcc;
    transition: all 0.3s;
    border-radius: 3px;
    font-size: 1.5rem;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 15);
    @include Respond(tab-port) {
      margin: 0rem;
    }

    &__icon {
      font-size: 6rem;
      margin-bottom: 0.5rem;
      background-image: linear-gradient(to right, #15f764dd, #0ab485cc);

      -webkit-background-clip: text;
      color: transparent;
      display: inline-block;
      h3 {
        margin-bottom: 3rem;
      }
    }
    h3 {
      margin-bottom: 3rem;
    }

    &:hover {
      transform: translateY(-1.53rem) scale(1.03);
      box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 4);
    }
  }
}

.section2copy {
  background-color: #eee;
  padding: 5rem 0rem;
  @include Respond(tab-port) {
    padding: 0;
  }

  .section2 {
    background-image: linear-gradient(
        to right,
        rgba(21, 247, 100, 0.865),
        rgba(10, 180, 133, 0.8)
      ),
      url("../img/nat-4.jpg");
    background-size: cover;
    background-position: top;

    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-direction: row;
    text-align: center;

    clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0 100%);

    .Row {
      text-align: center;
      grid-gap: 6.5rem;
      padding: 0rem 6.5rem;
      transition: transform 1s;

      display: flex;
      align-items: center;
      @include rowcolm;
      @include Respond(tab-port) {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 37rem 2rem;
      }
    }
  }
}
