.section5copy {
  background-color: #eee;
  padding-top: 5rem;
  @include Respond(tab-port) {
    padding-top: 0rem;
  }

  .section5 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(to right bottom, #15f764dd, #0ab485cc);
    padding: 25rem;

    @include Respond(tab-port) {
      padding: 0rem 0rem;
      margin: 1rem 0rem;
    }

    .book {
      background-image: linear-gradient(
          105deg,
          #ffffffe6 0%,
          #ffffffe6 50%,
          transparent 50%
        ),
        url("../img/nat-10.jpg");
      width: 100rem;
      height: 50rem;
      background-size: cover;
      border-radius: 3px;
      box-shadow: 0rem 1.5rem 4rem rgba(0, 0, 0, 0.2);

      .book__Form {
        .form {
          float: left;
          padding-left: 3rem;

          @include Respond(tab-port) {
            padding-left: 1rem;
          }

          .form__group {
            padding-bottom: 3rem;

            @include Respond(tab-port) {
              margin-right: -5rem;
            }
            .form__input {
              font-size: 1.5rem;
              font-weight: inherit;
              color: inherit;
              padding: 1.5rem 0rem;
              border-radius: 3px;
              background-color: #ffffff8a;
              border: none;
              border-bottom: 3px solid transparent;
              width: 90%;
              display: block;
            }
            .form__input:focus {
              outline: none;
              box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
              border-bottom: 3px solid #15f764;
            }

            .form__input:focus:invalid {
              border-bottom: 3px solid #eb6a25;
            }
            &::-webkit-input-placeholder {
              color: #0ab484;
            }

            .form__label {
              float: left;
              font-weight: 700;
              margin-left: 2rem;
              display: block;
              transition: all 0.3s;
            }
            .form__input:placeholder-shown + .form__label {
              opacity: 0;
              visibility: hidden;
              transform: translateX(-4rem);
            }
            .form__radio--group {
              display: inline-block;
              width: 49%;
              @include Respond(tab-port) {
                width: 42%;
              }

              .form__radio--input {
                display: none;
              }
              .form__radio--label {
                cursor: pointer;
                font-size: 1.6rem;
                position: relative;
                padding-left: 4.5rem;

                .form__radio--btn {
                  height: 3rem;
                  width: 3rem;
                  border: 5px solid #0ab484;
                  border-radius: 50%;
                  display: inline-block;
                  position: absolute;
                  left: 0;
                  top: -0.4rem;

                  &::after {
                    content: "";
                    width: 1.4rem;
                    height: 1.4rem;
                    border-radius: 50%;
                    background-color: #0ab484;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    transition: all 0.2s;
                  }
                }
                .p {
                  margin: -1rem;
                }
              }
            }
          }

          .heading {
            margin: 6rem 0rem;

            .heading_secondary {
              display: inline-block;
              background-image: linear-gradient(to right, #15f764dd, #0ab485cc);
              letter-spacing: 0.2rem;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 3.5rem;
              -webkit-background-clip: text;
              color: transparent;
              transition: all 0.2s;
              @include Respond(tab-port) {
                letter-spacing: 0rem;
                font-size: 2.5rem;
              }

              &:hover {
                transform: skewY(2deg) skewX(15deg) scale(1.1);
                text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
                @include Respond(tab-port) {
                  transform: skewY(2deg) skewX(15deg) scale(1.05);
                }
              }
            }
          }
          text-align: center;
          .form__radio--input:checked
            ~ .form__radio--label
            .form__radio--btn::after {
            opacity: 1;
          }

          .btn3 {
            .btn:link,
            .btn:visited {
              text-transform: uppercase;
              text-decoration: none;
              padding: 15px 40px;
              display: inline-block;
              border-radius: 100px;
              transition: all 0.2s;
              position: relative;
              animation-name: inMoveBottom;
              animation-duration: 2s;
              animation-fill-mode: backwards;
              font-size: 1.6rem;

              &:hover {
                transform: translateY(-0.3rem);
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
              }

              &:active {
                transform: translateY(-0.1rem);
                box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
              }
            }
            .btn-white {
              background-color: green;
              color: #f7f7f7;
            }
            // .btn::after {
            //   content: "";
            //   display: inline-block;
            //   width: 100%;
            //   height: 100%;
            //   border-radius: 100px;
            //   position: absolute;
            //   left: 0;
            //   top: 0;
            //   z-index: -1;
            //   transition: all 0.4s;
            // }
            .btn-white::after {
              background-color: green;
              color: white;
            }

            // .btn:hover::after {
            //   transform: scaleX(1.3) scaleY(1.6);
            //   opacity: 0;
            // }
          }
        }
      }
    }
  }
}
