// color

$color-primary-light: #15f764dd;
$color-primary-dark: #0ab485cc;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
